<h1>診断ページ</h1>

<p>当てはまる方をクリックしてね</p>


<%= form_with url: diagnose_index_path, method: :get, local: true do |f| %>

  <div>
    <p>ゾンビと何したい？</p>
    <%= f.radio_button :q_1, "a" %><%= f.label :q_1_a, "ゾンビを鑑賞したい" %>
    <%= f.radio_button :q_1, "b" %><%= f.label :q_1_b, "ゾンビと遊びたい" %>
  </div>
  
  <div>
    <p>どっちのゾンビが好き？</p>
    <%= f.radio_button :q_2, "a" %><%= f.label :q_2_a, "怖いゾンビ" %>
    <%= f.radio_button :q_2, "b" %><%= f.label :q_2_b, "かわいいゾンビ" %>
  </div>
  
  <div>
    <p>ゾンビと何したい？</p>
    <%= f.radio_button :q_3, "a" %><%= f.label :q_3_a, "ゾンビと戦いたい" %>
    <%= f.radio_button :q_3, "b" %><%= f.label :q_3_b, "ゾンビと仲良くなりたい" %>
  </div>
  
  <div>
    <p>ゾンビとの付き合い方は？</p>
    <%= f.radio_button :q_4, "a" %><%= f.label :q_4_a, "サクッと" %>
    <%= f.radio_button :q_4, "b" %><%= f.label :q_4_b, "べったり" %>
  </div>
  
  
<%= f.submit "診断結果へ" %>
<% end %>