<div class="container">

  <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
    <h1>ユーザー情報編集</h1>
  </div>
    
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <%= form_with model: current_user, url: users_path, local: true do |f| %>
     
        <div class="d-flex flex-column justify-content-center align-items-center text-danger">
          <% if current_user.errors.any? %>
            <strong><%= current_user.errors.count %>個のエラーがあります。</strong>
              <ul>
                <% current_user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          <% end %>
        </div>

      <table class="table table-borderless">
        <tr>
          <th><%= f.label :name, "ニックネーム" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        
        <tr>
          <th><%= f.label :email, 'メールアドレス' %></th>
          <td><%= f.email_field :email %></td>
        </tr>
      </table>
    
    <div class="row d-flex justify-content-center align-items-center">
      <%= f.submit "この内容で保存する", class:"btn btn-outline-info btn-sm" %>
    </div>
    <div class="row d-flex justify-content-center align-items-center m-3">
      <%= link_to "退会する", unsubscribe_path, method: :delete, data: { confirm: '本当に退会しますか？' }, class:"btn btn-outline-danger btn-sm" %>
    </div>
    
    <% end %>
  </div>
</div>