<h1>ゾンビ追加</h1>

 <div>
    <%= form_with model: @zombie, url: zombies_path, local:true do |f| %>
      <%= f.label :name, "タイトル" %>
      <%= f.text_field :name, size: 30 %>
      
      <%= f.label :body, "内容説明" %>
      <%= f.text_area :body %>
      
      <%= f.label :image, "画像" %>
      <%= f.attachment_field :image %>
   
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label class: 'form-check-label' do %>
          <div class="pr-5">
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
          </div>
        <% end %>
      <% end %>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "この内容で追加する" %>
    <% end %>
  </div>