<div class="container">

  <div class="row d-flex justify-content-center align-items-center" style="height: 150px;">
    <h1>ゾンビ投稿フォーム</h1>
  </div>    
    
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      
      <div class="d-flex flex-column justify-content-center align-items-center text-danger">
        <% if @zombie.errors.any? %>
          <strong><%= @zombie.errors.count %>個のエラーがあります。</strong>
            <ul>
              <% @zombie.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      
      <%= form_with model: @zombie, url: zombies_path, local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <th style="width: 30%"><%= f.label :name, "タイトル" %></th>
          <td style="width: 70%"><%= f.text_field :name, size: 50 %></td>
        </tr>
        
        <tr>
          <th><%= f.label :body, "内容説明" %></th>
          <td><%= f.text_area :body, size:"50x7" %></td>
        </tr>
        
        <tr>
          <th><%= f.label :image, "画像" %></th>
          <td><%= f.attachment_field :image %></td>
        </tr>
        
        <tr>
          <th>タグ</th>
          <td>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <%= tag.label class: 'form-check-label' do %>
                <div class="pr-5">
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>
    
      <div class="d-flex justify-content-center align-items-center">
        <%= f.submit "この内容で投稿する",data: { confirm: 'この内容で投稿しますか？' }, class:"btn btn-outline-info" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
