<div class="container">

  <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
    <h1><%= @zombie.name %></h1>
  </div>



  <div class="row d-flex justify-content-center">
    <div class="col-md-5 d-flex flex-column justify-content-center">
      <div>
        <%= attachment_image_tag @zombie, :image, :fill, 200, 200, format: 'jpeg' %>
      </div>
      <div class="my-2">
        <span>お気に入り登録数（<%= @zombie.favorites.length %>）</span>
      </div>

      <div>
        <% if @zombie.favorited_by?(current_user) %>
          <%= link_to "お気に入り登録済★", zombie_favorites_path(@zombie), method: :delete, class:"text-dark" %>
        <% else %>
          <%= link_to "お気に入り登録☆", zombie_favorites_path(@zombie), method: :post, class:"text-dark" %>
        <% end %>
      </div>
      
      <div class="my-2">
        <span>投稿者：<%= @zombie.user.name %></span>
      </div>
      
      <div class="">
        <% if logged_in? && @zombie.user_id == current_user.id %>
          <div>
          <%= link_to "編 集", edit_zombie_path(@zombie), class:"btn btn-outline-info btn-sm m-2" %>
    
          <%= link_to "削 除", zombie_path(@zombie), method: :delete,data: { confirm: '本当に削除しますか？' }, class:"btn btn-outline-danger btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-7 d-flex flex-column justify-content-start">
      <div class="border rounded mb-3" style="height: 200px;">
        <%= @zombie.body %>
      </div>

      <div>
        <% @zombie.tags.each do |tag| %>
          <span><%= link_to "#"+tag.name, zombies_path(tag_name: tag.name), class:"btn btn-info btn-sm m-1" %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row d-flex flex-column justify-content-center align-items-center mt-5">
    <% if logged_in? %>
      <% if @zombie.reviewed_by?(current_user) %>
      <% else %>
          <%= form_with model: @review, url: zombie_reviews_path(@zombie),local: true do |f| %>
            <div class="row d-flex flex-column justify-content-center align-items-center">
              <%= f.label :body, "レビューを投稿する" %>
            </div>
            <div class="row d-flex flex-column justify-content-center align-items-center">
              <%= f.text_area :body,size: "50x7" %>
            </div>
            
              <%= f.hidden_field :user_id, :value => current_user.id %> 
            <div class="row d-flex flex-column justify-content-center align-items-center">
            <%= f.submit "保存",data: { confirm: 'この内容で投稿しますか？' }, class:"btn btn-outline-info btn-sm my-2" %>
            </div>
          <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
    
      <div class="d-flex justify-content-center align-items-center">
        <p>レビュー一覧</p>
      </div>
      
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 25%">投稿者</th>
            <th style="width: 50%">内　容</th>
            <th style="width: 25%">投稿日時</th>
          </tr>
        </thead>
        
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td><%= review.user.name %></td>
            <td><%= review.body %></td>
            <td><%= review.created_at.to_s(:datetime_jp) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>