<h1><%= @zombie.name %></h1>

  <%= attachment_image_tag @zombie, :image, :fill, 200, 200, format: 'jpeg' %>
  <%= @zombie.body %>

  <% @zombie.tags.each do |tag| %>
    <span><%= link_to "#"+tag.name, zombies_path(tag_name: tag.name) %></span>
  <% end %>
  
  <% if @zombie.favorited_by?(current_user) %>
    <%= link_to "お気に入りから削除", zombie_favorites_path(@zombie), method: :delete %>
  <% else %>
    <%= link_to "お気に入り", zombie_favorites_path(@zombie), method: :post %>
  <% end %>
  
<%= link_to "編集する", edit_zombie_path(@zombie) %>


<%= link_to "削除する", zombie_path(@zombie), method: :delete %>


